html, body {
    height: 100%;
}

body {
    font-family: helvetica;
    margin: 0;
    padding: 0;
    background: linear-gradient(
    180deg, rgba(69,0,107,0.4) 0%,
     rgba(1,1,1,1) 100%);
    color: whitesmoke;
}

button {
    background-color: #1645a1;
    color: #fff;
    padding: 0 45px;
    border: 2px solid #fff;
    border-radius: 25px;
    height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: blueviolet;
}